extends layout
block content
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-3
                .container.p-5
                    h3.text-center sorry your payment was not successful
                    .bttn.pt-5
                        a.a-btn(href="/") try again
