doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title SickelCell Foundation
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/custom.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js', integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js', integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY', crossorigin='anonymous')
  body
    header
      nav.navbar.navbar-expand-sm.navbar-dark.p-3
        .container
          a.navbar-brand(href='/')
            span.spn S
            | icklecell
            span.spn F
            | oundation
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='#') About us
              li.nav-item
                a.nav-link(href='#') Contact us
    // Header End
    block content
    footer.d-flex.justify-content-center.pt-5
      p &copy; 2018 
        a(href='https://bithubph.herokuapp.com/' target='_blank') BitHub
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/popper.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/script.js')
