extends layout
block content
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-3
                .container.p-5
                    h3.text-center #{donor.full_name} your donation of NGN #{donor.amount/100}  was successful  